@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-brico), var(--font-man);
}

/* tailwind fonts aren't working or im doing it wrong so we just do this */
.brico {
  font-family: var(--font-brico);
}

.man {
  font-family: var(--font-man);
}

.grid-effect {
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, var(--background) 1px);
  background-size: 4px 4px;
  opacity: 1;
  position: absolute;
  inset: 0;
  overflow: visible;
  z-index: 1;
  flex: none;
}

.gradient {
  position: absolute;
  inset: -20% 0 0;
  height: 150%;
  background-image: linear-gradient(transparent 0 50%, var(--background));
}

@keyframes pulse-dot {
  0%, 100% {
    transform: scale(1) translateY(0) translateX(0);
    font-weight: 700; /* bold */
  }
  50% {
    transform: scale(1.6) translateY(-4px) translateX(1px);
    font-weight: 900; /* extrabold */
  }
}

/* You would then apply this class on hover, 
  for example, by targeting the child span:
*/
.group:hover .pulse-dot {
  animation: pulse-dot 0.8s ease;
}